[submodule "noah.vim"]
	path = noah.vim
	url = git@github.com:lopesivan/noah.vim.git
[submodule "template.vim"]
	path = template.vim
	url = git@github.com:lopesivan/template.vim.git
[submodule "header.vim"]
	path = header.vim
	url = git@github.com:lopesivan/header.vim.git
[submodule "maps.vim"]
	path = maps.vim
	url = git@github.com:lopesivan/maps.vim.git
