[submodule "noah.vim"]
	path = noah.vim
	url = git@github.com:lopesivan/noah.vim.git
[submodule "template.vim"]
	path = template.vim
	url = git@github.com:lopesivan/template.vim.git
[submodule "header.vim"]
	path = header.vim
	url = git@github.com:lopesivan/header.vim.git
[submodule "maps.vim"]
	path = maps.vim
	url = git@github.com:lopesivan/maps.vim.git
[submodule "vim-airline"]
	path = vim-airline
	url = git@github.com:lopesivan/vim-airline.git
[submodule "hp50g.vim"]
	path = hp50g.vim
	url = git@github.com:lopesivan/hp50g.vim.git
